.mainBodyContainter {
	box-shadow: 0 0 15px rgb(0 0 0 / 8%);
	margin: 0 auto;
	max-width: 1230px;
	/* padding-left: 30px; */
	/* padding-right: 30px; */
	width: 90%;
	background-color: white;
	height: 100%;
}

.mainBodyBack {
	background-color: #80cafd;
	height: 100%;
}

.mainContent {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 5%;
	flex-wrap: wrap;
	background-color: #b7e2f2;
}

.mainContent img {
	max-width: 260px;
	max-height: 400px;
}

.itemList {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	text-align: center;
}
